.container{
  max-width: 1400px;
  width:  80%;
  margin: auto;
}
.show-modal{
  font-size: 1.2rem;
}

.boards{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.board{
  border-radius: 1rem;
    background-image: linear-gradient(to top left, rgb(215, 159, 159,.3), rgba(230, 230, 230,.5));
    /* background-image: linear-gradient(to top left, rgba(245, 91, 91, 0.3), rgba(230, 230, 230,.5)); */
  box-shadow: 1px 1px 5px #555;
  width: 26rem;
  height: 25rem;
  margin-top: -7.5rem;
}

.check{
  position: relative;
  margin: 2rem auto 0 auto;
}


.guess{
  text-transform: uppercase;
}

.title{
  color: var(--primary-color);
  font-family: var(--quicksand);
  font-size: 2.6rem;
  margin: 1.5rem auto -1rem auto;
}

.intro{
  color: var(--secondary-color);
  font-size: 1.3rem;
  font-family: var(--quicksand);
  margin-bottom: 4rem;
  border: rgb(9, 68, 87) .2rem solid;
}

.guess, .number{
  height: 7rem;
  width: 12rem;
  margin: 0 1rem 1rem 1rem;
  border: rgb(9, 68, 87) solid .1rem;
  border-radius: 2rem;
  font-size: 2.8rem;
  text-align: center;
  color: #555;
  background-color: rgb(242, 251, 251);
  display: inline-block;
}
.numbers{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem auto 0 auto;
}

.inp{
  position: relative;
  margin: 1rem auto 0 auto;
  width: 8rem;
}

/* .toFlex{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 25%;
  margin: auto;
} */

h3{
  color: var(--secondary-color);
  font-size: 1.4rem;
  font-weight: 600;
  font-family: var(--quicksand);
  margin: 2rem auto;
}


.scoring{
  margin: 1.8rem;
}

.score-label, .highscore-label, .message{
  color: var(--secondary-color);
  font-size: 1.4rem;
  font-family: var(--quicksand);
  line-height: 2.2rem;
  letter-spacing: .2rem;
}
.score, .highscore{
   font-family: var(--quicksand);
   color: rgb(9, 68, 87);
}

.message{
  font-size: 1.4rem;
  color: #555;
  margin: 1rem auto;
  z-index: 100;
  width: 80%;
}

.again{
  position: relative;
    margin-top: -4rem;
    margin-bottom: 8rem;
    margin: -32 auto 40rem auto;
}

.mountain{
  width: 480px;
  position: absolute;
  top: 20rem;
  left: 1.5rem;
}
.treasure{
  width: 440px;
  position: absolute;
  top: 11rem;
  right: 1.5rem;
  /* z-index: 5; */
}

footer{
  margin: 6rem auto 1.5rem auto;
  color: var(--secondary-color);
  font-family: var(--quicksand);
  font-size: 1.2rem;
}

.name{
  color: var(--primary-color);
  font-weight: 600;
}

.hidden{
  display: none;
}

.overlay{
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.7);
  position: fixed;
  backdrop-filter: blur(3px);
}


.player-active{
  /* background: linear-gradient(to top left, rgb(227, 247, 164), rgb(225, 239, 223)); */
  background: linear-gradient(to top left, rgba(235, 248, 191, 0.7), rgba(225, 239, 223,.5));
  /* background: linear-gradient(to bottom right, rgba(148, 236, 215, 0.7), rgba(176, 212, 212, 0.5)); */
}
/* .newbg{
  background-image: linear-gradient(to top left, rgb(215, 159, 159,.3), rgba(230, 230, 230,.5));
}
.newPlayer-active{
  background: linear-gradient(to top left, rgba(235, 248, 191, 0.7), rgba(225, 239, 223,.5));
} */

.player-winner{
  background: linear-gradient(to bottom right, rgba(148, 236, 215, 0.7), rgba(176, 212, 212, 0.5));
}
.mountain{
  display: none;
}
.treasure{
  display: none;
}

/* responsive design */



/* tablet view */
@media(max-width: 1350px){
  .number{
    position: relative;
    margin: 2rem auto 0;
  }
  .board{
    margin-top: 10rem;
  }
  .again{
    position: relative;
    margin-top: -33rem;
    margin-bottom: 35rem;
    margin: -32 auto 40rem auto;
  }
  .check{
    margin-top: -20rem;
  }
  .mountain{
    width: 400px;
    position: absolute;
    top: 15rem;
    left: 3rem;
    display: inline-block;
  }
  .treasure{
    width: 400px;
    position: absolute;
    top: 8rem;
    right: 3rem;
    display: inline-block;
    /* z-index: 5; */
  }
  .btn-back{
    position: absolute;
    top: 5.5rem;
    left: 2rem;
    font-size: 2rem;
  }
}
/* mobile view */
@media (max-width: 1080px){
  .boards{
    flex-direction: column;
  }
  .board1{
    margin-top: 3rem;
  }
  .board2{
    margin-top: 3rem;
  }
  .number{
    position: relative;
    margin: 2rem auto 0 auto;
  }
  .check{
    position: relative;
    margin: 3rem 40% 0 40%;
  }
  .again{
    position: relative;
    margin-top: 3rem;
    margin-bottom: 8rem;
    margin: -32 auto 40rem auto;
  }
  .footer{
    position: relative;
  }
  .mountain{
    display: none;
  }
  .treasure{
    display: none;
  }
  .btn-back{
    position: absolute;
    top: 5.5rem;
    left: 4rem;
    font-size: 1.7rem;
  }
  .message{
    width: 100%;
  }
}



